body{
    overflow-x: hidden; 
    margin: 0;
    background-color: #333;
    font-family: "Comfortaa";
}

.comfortaa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  

#nav-img{
    width: 3%;
    padding-right: 1250px;
    padding-left: 150px;
    margin-bottom: 50px;
}

#navbar {
    position: fixed;
    padding-top: 50px;
    font-family: "Comfortaa", sans-serif ;
    font-size: 18px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background-color: #af4c65;
    height: 20px;
    padding-right: 50px;
    z-index: 25;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-bottom: 35px;
}

#navbar li {
    display: inline;
    margin-right: 20px;
    padding-right: 25px;
}

#navbar a {
    text-decoration: none;
    color: wheat;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#navbar a:hover{

    color: white;

}


.img-user{
    width: 40%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-right: 10px;
}


.header-principal{
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    
}

#header-principal{
    width: 100%;
}

#div-logo{

    z-index: 5;
    padding-bottom: 250px;
    padding-right: 50px;
}

#logo-img{
    z-index: 1;
    position: relative;
    width: 110%;
    margin-top: 200px;
    
}




/*----------------------------------------------A PARTIR DA SECTION-ONE*----------------------------------------------*/




.container1{

    display: flex; 
    justify-content: space-between; 
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;

}

.container2{

    padding-top: 50px;
    display: flex; 
    justify-content: space-between; 
    padding-left: 100px;
    padding-right: 100px;

}


.container1 h2{
    text-align: center;
    margin-bottom: 50px;
}

.container2 h2{
    text-align: center;
    margin-bottom: 50px;
}

.container-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon1{
    width: 7%; 
    padding-right: 20px;
}

.icon2{
    width: 7%;
    padding-left: 20px;
}


#section-one{
    background-color: #333;
}

#section-one h1{
    text-align: center; 
    font-size: 70px;
    font-family: "Comfortaa";
    color: white;
}

#section-one h2{
    text-align: center;display: block;
    font-size: 30px;
}

#section-one h3{
    color: rgb(196, 196, 196);
    text-align: center;
}

.traco{
    margin-left: 150px;
    margin-right: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.vm{
    position:inherit;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.vm button{

    cursor: pointer;
    transition: all 0.3s;
    background-color: #8a4758;
    color: #acacac;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid #964c5e;

    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #af4c65;
    
    
}

.vm button:hover{
    color: white;
    transform: translateY(-1px);
    border-bottom-width: 6px;
}

.vm button:active{

    transform: translateY(2px);
    border-bottom-width: 2px;
}

.vm-af{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
   
    font-size: 25px;
    

}

.vm-af button{
    width: 250px;
    font-size: 20px;
    height: 70px;
    border-radius: 10px;
    background-color: #af4c65;
    color: white;
}

.box p{
    text-align: center;
}

a.fill-div {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease 0s;
    text-decoration: none;
    display: block;
    flex: 1;
    color: black;
    border: black solid 1px;
    background-color: white;
    border-radius: 20px;
    
}

a.fill-div:hover{
    border-radius: 20px;
    box-shadow: 5px 10px #af4c65;
    text-decoration: none;
    display: block;
    flex: 1;
    color: black;
    transform: translateY(-5px);
}

a.fill-div h2 {
    margin-right: 10px;
    margin-left: 10px;
    
}

button:active {
    transform: translateY(-1px);
  }

.img-vinho{
    width: 100%;
    text-align: center;
    display: block;
    border-radius: 20px;
}


.botao-div {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 60px;
  }
  
  .botao-enviar {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: #af4c65;
    transition: filter 250ms;
    
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #af4c65(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(
      to right,
      hsl(0, 86%, 66%) 0%,
      hsl(0, 42%, 48%) 8%,
      hsl(0, 37%, 35%) 92%,
      hsl(0, 40%, 18%) 100%
    );
  }
  
  .front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: hsl(0, 68%, 61%);
    padding: 16px 32px;
    color: white;
    font-family: "Comfortaa";
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .botao-enviar:hover {
    filter: brightness(110%);
  }
  
  .botao-enviar:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .botao-enviar:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .botao-enviar:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .botao-enviar:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .botao-enviar:focus:not(:focus-visible) {
    outline: none;
  }




footer{
    padding-bottom: 30px;
    padding-top: 50px;
    background-color: #af4c65;
    color: white;
}
