.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
  font-family: "Comfortaa";
}


section{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 700px;
}

#field1 {
    margin-right: -7px;
  }

  #h1 {
    color: #af4c65;
  }


  .wave-grupo {
    position: relative;
    padding-bottom: 15px;
  }
  
  .wave-grupo .wave-input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 660px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
  }
  
  .wave-grupo .wave-input:focus {
    outline: none;
  }
  
  .wave-grupo .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
  }
  
  .wave-grupo .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
  }
  
  .wave-grupo .wave-input:focus ~ label .label-char,
  .wave-grupo .wave-input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
  }
  
  .wave-grupo .bar {
    position: relative;
    display: block;
    width: 675px;
  }
  
  .wave-grupo .bar:before,.wave-grupo .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.5s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .wave-grupo .bar:before {
    left: 50%;
  }
  
  .wave-grupo .bar:after {
    right: 50%;
  }
  
  .wave-grupo .wave-input:focus ~ .bar:before,
  .wave-grupo .wave-input:focus ~ .bar:after {
    width: 50%;
  }

 

  .input {
    
    width: 660px;
    height: 100px;
    background-color: #05060f0a;
   
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .input:hover, .input:focus, .input-grupo:hover .input {
    outline: none;
    border-color: #05060f;
    
  }
  
  .input-grupo:hover .label, .input:focus {
    color: #05060fc2;
    
  }



  textarea {
    width: 100%;
    height: 150px;
    resize: none;
  }

  header {
    background-color: #333;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type="text"] {
    width: 298px;
    height: 20px;
  }

  body {
    background-color: #f2f2f2;
  }

  #footer-log{
    
    margin-top: 50px;
}



.botao-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.botao-enviar {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: #af4c65;
  transition: filter 250ms;
  
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #af4c65(226, 25%, 69%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(0, 86%, 66%) 0%,
    hsl(0, 42%, 48%) 8%,
    hsl(0, 37%, 35%) 92%,
    hsl(0, 40%, 18%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(0, 68%, 61%);
  padding: 16px 32px;
  color: white;
  font-family: "Comfortaa";
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.botao-enviar:hover {
  filter: brightness(110%);
}

.botao-enviar:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.botao-enviar:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.botao-enviar:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.botao-enviar:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.botao-enviar:focus:not(:focus-visible) {
  outline: none;
}
